services:
  postgres:
    image: postgres:alpine3.23
    container_name: atomic_postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine3.22
    container_name: atomic_redis
    command: redis-server --requirepass ${REDIS_PASSWORD}
    restart: always
    ports:
      - "6379:6379"

  api:
    build: .
    ports:
      - 8080:8080
    depends_on:
      - postgres
      - redis
    env_file:
      - .env
    environment:
      - DB_URL=postgres://${DB_USERNAME}:${DB_PASSWORD}@postgres:5432/${DB_NAME}?sslmode=disable
      - REDIS_URL=redis://:${REDIS_PASSWORD}@redis:6379

volumes:
  postgres_data:
  redis_data:
